<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>p1client</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>login</display-name>
    <servlet-name>login</servlet-name>
    <servlet-class>Servlet.login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/View/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseSearch</display-name>
    <servlet-name>CourseSearch</servlet-name>
    <servlet-class>Servlet.CourseSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseSearch</servlet-name>
    <url-pattern>/View/CourseSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourse</display-name>
    <servlet-name>AddCourse</servlet-name>
    <servlet-class>Servlet.AddCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourse</servlet-name>
    <url-pattern>/View/AddCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInstructor</display-name>
    <servlet-name>AddInstructor</servlet-name>
    <servlet-class>Servlet.AddInstructor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInstructor</servlet-name>
    <url-pattern>/View/AddInstructor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>Servlet.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/View/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCourse</display-name>
    <servlet-name>DeleteCourse</servlet-name>
    <servlet-class>Servlet.DeleteCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourse</servlet-name>
    <url-pattern>/View/DeleteCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInstructor</display-name>
    <servlet-name>DeleteInstructor</servlet-name>
    <servlet-class>Servlet.DeleteInstructor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInstructor</servlet-name>
    <url-pattern>/View/DeleteInstructor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>Servlet.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/View/DeleteStudent</url-pattern>
  </servlet-mapping>
</web-app>